<section class="welcome">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="welcome-text">
        <h1>Welcome</h1>
        <p>On our website you can buy, sell or trade your vehicle</p>
        <p>More than 100 cars are bought and sold here</p>
      </div>
    </div>
  </div>
  <div class="paginations">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="#/sell" class="back">sell</a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="#/buy" class="next">buy</a>
      </div>
    </div>
  </div>
</section>